.sec7{
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.sec-7-1{
    align-items: center;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}
.sec-7-2>:nth-child(1){
    font-size: 22px;
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    display: flex;

}
.sec-7-2>:nth-child(2){
    
    flex-direction: column;
    align-items: center;
    display: flex;

}
.pro{
    font-weight: bold;
    
    
}


